{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% if player.round_number in Constants.start_rounds_for_startpage %}
Neuer Durchgang: Ausgangssituation
{% endif %}
{% if player.round_number == 1 %}
Ausgangssituation
{% endif %}
{% endblock %}

{% block styles %}
<style>
.right{
    margin-left:200px;
    }

.left{
    margin-left:50px;
    }
</style>
{% endblock %}

{% block content %}

<p> {% if treatment == "opt-out" %}
    Sie werden momentan als "Organspender*in" geführt.
    Wenn Sie nun eine eigene Entscheidung bzgl. der Verwendung Ihrer B Organe nach dem Ausfall Ihres A Organs treffen wollen, klicken Sie bitte auf "Zur Organspende-Entscheidung".
    Dies kostet Sie {{ Constants.thinking_cost }} Cent.
</p>
<p>
    Wenn Sie keine Entscheidung treffen wollen, klicken Sie bitte auf "Ohne Entscheidung fortfahren".
    In diesem Fall gelten Sie zunächst weiter als "Organspender*in".
    Nach dem Ausfall Ihres A Organs wird dann Ihr*e Partner*in befragt, ob er/sie der Spende Ihrer B Organe zustimmt.
    Sollte das A Organ Ihres/Ihrer Partners*in bereits in einer der vorherigen Perioden ausgefallen sein und er/sie somit keine Entscheidung mehr treffen kann, werden Ihre B Organe gespendet.
</p>
    {% endif %}
    {% if treatment == "active-choice" %}
<p>
    Sie haben bisher noch keine Entscheidung bzgl. der Verwendung Ihrer Organe nach Ihrem Tod getroffen.
    Wenn Sie nun eine eigene Entscheidung bzgl. der Verwendung Ihrer B Organe nach dem Ausfall Ihres A Organs treffen wollen, klicken Sie bitte auf "Zur Organspende-Entscheidung".
    Dies kostet Sie {{ Constants.thinking_cost }} Cent.
</p>
<p>
    Wenn Sie keine Entscheidung treffen wollen, klicken Sie bitte auf "Ohne Entscheidung fortfahren".
    In diesem Fall wird nach dem Ausfall Ihres A Organs Ihr*e Partner*in befragt, ob Ihre B Organe gespendet werden sollen.
    Sollte das A Organ Ihres/Ihrer Partners*in bereits in einer der vorherigen Perioden ausgefallen sein und er/sie somit keine Entscheidung mehr treffen kann, werden Ihre B Organe nicht gespendet.
</p>
    {% endif %}
<br />
<br />
<div>
    <button  class="left  btn btn-primary btn-large" name="decide" value="False" >Ohne Entscheidung fortfahren</button>
    <button  class="right  btn btn-primary btn-large" name="decide" value="True" >Zur Organspende-Entscheidung</button>
    {{ form.decide.errors }}
</div>

    {% endblock %}
