{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Ergebnisse: Periode {{ period }}
{% endblock %}

{% block content %}
<p>
    {% if player.need_organ  == True %}
    Ihr B Organ funktioniert nicht mehr und sie haben diese Periode kein B Organ eines anderen Teilnehmers bekommen.
    Sie haben in dieser Periode 0 Euro verdient.
    Sie sind auf der Warteliste für ein B Organ.
    Sie warten seit {{ player.periods_waiting }} {% if player.periods_waiting == 1 %} Periode. {% else %} Perioden. {% endif %}
    <br /> <br />
    Bitte klicken Sie nun auf "Weiter" um zur nächsten Periode zu gelangen.
    {% endif %}

    {% if player.round_number not in Constants.start_rounds %}
    {% if needed_organ_last_period == True %}
    {% if player.need_organ  == False %}
    {% if player.got_organ  == True %}
    Sie haben ein neues B Organ von einem anderen Teilnehmer erhalten.
    Sie haben in dieser Periode 1 Euro verdient.
    <br /> <br />
    Bitte klicken Sie nun auf "Weiter" um zur nächsten Periode zu gelangen.
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% if player.need_organ  == False %}
    {% if player.got_organ  == False %}
    Ihr A Organ und Ihre B Organe funktionieren.
    Sie haben in dieser Periode 1 Euro verdient. <br /> <br />

    Bitte klicken Sie nun auf "Weiter" um zur nächsten Periode zu gelangen.
    {% endif %}
    {% endif %}
    {% if player.need_organ  == False %}
    {% if player.got_organ  == True %}
    Ihr A Organ und Ihre B Organe funktionieren.
    Sie haben in dieser Periode 1 Euro verdient. <br /> <br />

    Bitte klicken Sie nun auf "Weiter" um zur nächsten Periode zu gelangen.
    {% endif %}
    {% endif %}
</p>

    {% next_button %}

{% endblock %}
