{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Diese Runde ist beendet!
{% endblock %}

{% block content %}
    <p>
    {% if player.is_dead == False %}
    {% if player.periods_waiting != Constants.num_rounds  %}
    Sie haben diesen Durchgang komplett überlebt.
    Dieser Durchgang ist nun beendet beendet.<br /><br />
    Bitte klicken Sie nun auf "Weiter", um zum nächsten Durchgang zu gelangen.
    {% endif %}

    {% if player.is_dead == True %}
    {% if player.periods_waiting != Constants.num_rounds  %}
    Ihr A Organ ist ausgefallen.
    Sie haben in dieser Periode 1 Euro verloren.
    Dieser Durchgang ist für Sie beendet.<br /><br />
    Bitte klicken Sie nun auf "Weiter", um zum nächsten Durchgang zu gelangen.
    {% endif %}

    {% if player.periods_waiting == Constants.num_rounds  %}
    Sie haben innerhalb von 5 Perioden kein B Organ erhalten.
    Daher ist nun auch ihr A Organ ausgefallen.
    Sie haben in dieser Periode 1 Euro verloren.
    Diese Runde ist für Sie beendet.<br /><br />
    Bitte klicken Sie nun auf "Weiter", um zum nächsten Durchgang zu gelangen.
    {% endif %}
    {% endif %}
    </p>

    {% next_button %}

{% endblock %}
